@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: beige; /* cor de fundo */
}


@font-face {
  font-family: 'PlaywriteDESAS-Regular';
  src: url('./assets/fonts/PlaywriteDESAS-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.PlaywriteDESAS-Regular {
  font-family: 'PlaywriteDESAS-Regular', cursive;
}